.sidebaroption{
    display: flex;
    font-size: 12px;
    cursor : pointer;
    padding-left: 2px;
    align-items: center;
}

.sidebaroption:hover{
    opacity : 0.9;
    background-color: #340e36;
}

.sidebaroption__icon{
    padding:10px;
    font-size: 15px !important;
}

.sidebaroption__channel{
    padding : 10px 0 ;
}

.sidebaroption__channel{
    padding: 10px 0;
}

.sidebaroption__hash{
    padding: 10px 0;
}